$success-color: green;
$error-color: #dd3346;
$warning-color: #fcc400;
$primary-color: #2c2c3e;
$secondary-color: #43475a;
$tertiary-color: #9195ad77;
$white: #ffffff;
$black: #000000;
$gray: gray;
$body-backgroud: #5a5a6a;
$container-background: #2c2c3e;
$hover-color: #191919;
