.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Main-container {
  align-self: center;
  background-color: #eef1f2;
  height: 80vh;
  width: 90vw;
  border-radius: 20px;
}

.task {
  display: flex;
  flex-direction: row;
}
.delete {
  margin-left: 10px;
}

.status {
  margin-left: 10px;
  color: ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
